<?xml version="1.0"?>

<model>

    <name>my_robot</name>

    <version>1.0</version>

    <sdf version="1.9">model.sdf</sdf>

    <author>

        <name>Nguyen Gia Bao</name>

        <email>bao@todo.todo</email>

    </author>

    <description>

        Four wheel autonomous robot.

    </description>

</model>
